body {
    margin: 0;
    background: #000;
}

.galeria {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap; /* permite quebrar quando tela for pequena */
}

.galeria img {
    width: 250px; /* ajuste o tamanho que quiser */
    height: 250px;
    object-fit: cover;
    border-radius: 20px;
}


@keyframes pulse {
    0%   { transform: scale(1); }
    50%  { transform: scale(1.08); }
    100% { transform: scale(1); }
}

@media (max-width: 480px) {
    .foto {
        width: 95px;
        height: 95px;
    }
}